.container--productsshelf {
	background-color: #424242;
	margin: 20px 20px;
	height: auto;
	box-shadow: 1px 1px 10px #212121;
	padding: 0px;
	min-height: 480px;
}

.buyButton :global(.vtex-button) {
	background-color: rgb(13, 156, 192);
	
}

.buyButton :global(.vtex-button):hover {
	background-color: rgb(196, 37, 37);
}

.imageContainer {
	padding: 0px;
}

.image {
	width: 100vw;
	margin: 0px;
}

.nameContainer {
	justify-content: center;
}

.brandName {
	color: #fff;
}
