.sliderLayoutContainer--carousel {
	background-color: #303030;
}

.slideChildrenContainer--carousel {
	margin: 20px 0px;
	border-radius: 10px;
}


.paginationDot--carousel--isActive {
	background-color: rgb(196, 37, 37);
}

.slideChildrenContainer--products {
	padding: 20px 0px;
}
