.cartIcon {
	color: rgb(197, 24, 24);
	height: 30px;
	width: 30px;
	margin: 0px 30px;
}

.openIconContainer :global(.vtex-button) {
	background-color: #212121;
}

.openIconContainer :global(.vtex-button):hover {
	background-color: #212121;
}

.popupChildrenContainer {
	background-color: saddlebrown;
}

.minicartSideBarContentWrapper {
	background-color: #424242;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 10px;
}
