.searchIcon,
.closeIcon {
	color: rgb(197, 24, 24);
}

.searchBarContainer :global(.vtex-input-prefix__group) {
	border: none;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
	color: #fff;
}

.imageElement--banner {
	border-radius: 10px;
}

.imageElement--bannerhome {
	width: 90%;
	margin: 10px 5%;
	border-radius: 10px;
}

.container--main {
	position: relative;
	width: 100%;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.productImage {
	position: relative;
	width: 80%;
	align-self: center;
}

.productImageTag--main {
	width: 80%;
	height: 80%;
}

.productImagesGallerySlide {
	display: flex;
	justify-content: center;
	height: 600px;
}

.caretIcon {
	color: #c51818;
}

.carouselGalleryThumbs {
	height: 100vh;
	background-color: blueviolet;
}

.swiper-container {
	overflow: scroll !important;
	justify-content: center;
}

.productBrand {
	color: #fff;
}

.shippingContainer {
	margin: 20px;
	padding: 10px;
	box-sizing: content-box;
	background-color: #ffff;
	color: #323232;
}

.shippingContainer :global(.vtex-input__label) {
	color: #212121;
	font-weight: bold;
}

.shippingContainer :global(.vtex-button) {
	background-color: #212121;
}

.shippingTableCell {
	color: #fff;
	font-size: 20px;
}

.shippingTable {
	margin: 10px 0px;
}
