.flexRow--main-header-desktop {
	background-color: #212121;
}

.flexRow--main {
	margin: 20px 0px;
}
.flexRowContent--main {
	margin-top: 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.flexCol--productsright {
	max-width: 90%;
}

.flexCol--productsleft {
	max-width: 100%;
}

.flexRowContent--rowsearch {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.flexColChild--results {
	text-align: center;
}

.flexCol--filter {
	height: 20% !important;
	color: #fff;
}

.flexCol--results {
	color: #fff;
}

.flexRow--menufooter {
	background-color: #242424;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	min-height: 70px;
	min-width: 100%;
	position: fixed;
	bottom: 0px;
}
